{% extends "base.html" %}
{% load static %}    
{% block title %}
update
{% endblock title %}
{% block body %}
<div class="wrapperu" >
    <h1><i class="fas fa-edit"></i>  Updating Post</h1>
    <div class="form-containeru">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label>User</label><br>
        {{form.user}}<br><br>
        <label>Product Name</label><br>
        {{form.name}}<br><br>
        <label>Price</label><br>
        {{form.cost}}<br><br>
        <label>Contact</label><br>
        {{form.contact}}<br><br>
        <label>Time Period</label><br>
        {{form.time}}<br><br>
        <label>Category</label><br>
        {{form.category}}<br><br>
        <label>Product Detail</label><br>
        {{form.detail}}<br><br>
        <label>Index picture</label><br>
        {{form.p1}}<br>
        <label>second picture</label><br>
        {{form.p2}}<br>
        <label>third picture</label><br>
        {{form.p3}}<br>
        <label>fourth picture</label><br>
        {{form.p4}}<br>
        <label>Video if any</label><br>
        {{form.video}}

      <input type="submit" class="submitu" value="Change/Save" onclick="fun()">      
    </form>
    </div>
<div class="imgdivu">
    <img src="{{data.p1.url}}" alt="error" class="proimg1">
    <img src="{{data.p2.url}}" alt="error" class="proimg2">
    <img src="{{data.p3.url}}" alt="error" class="proimg3">
    <img src="{{data.p4.url}}" alt="error" class="proimg4">
  </div>

</div>
<script>
    document.getElementById("id_user").disabled = true;
    function fun()
    {
        document.getElementById("id_user").disabled = false;
    }
    $(function () {
        $("#id_p1").change(function () {
            readURL1(this);
        });
        $("#id_p2").change(function () {
            readURL2(this);
        });
        $("#id_p3").change(function () {
            readURL3(this);
        });
        $("#id_p4").change(function () {
            readURL4(this);
        });
    });
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) 
            {
                $(".proimg1").attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL1(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) 
            {
                $(".proimg1").attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL2(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) 
            {
                $(".proimg2").attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL3(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) 
            {
                $(".proimg3").attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]);
        }
    }
    function readURL4(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) 
            {
                $(".proimg4").attr('src', e.target.result);
            }
        reader.readAsDataURL(input.files[0]);
        }
    }
</script>   
{% endblock body %}